<h2> Artículo </h2>
<%= form_for [@project, @file, @article] do |f| %>
	<%= f.hidden_field :gg_file_id, :value => @file.id %>

	<div><%= f.label "Código del artículo: " %></div>
	<%= f.text_field(:code_article, :size => 30) %>
	
	<div><%= f.label "Nombre del proveedor: " %></div>
	<%= f.text_field(:name_provider, :size => 30) %>

	<div><%= f.label "Garantía: " %></div>
	<%= f.text_field(:guarantee, :size => 30) %>

	<div><%= f.label "ANS (Acuerdo de nivel de servicio): " %></div>
	<%= f.text_field(:ans, :size => 30) %>

	<div>
	<%= f.submit "Guardar", style: "float: left;" %>
	</div>
<% end %>
<%# button_to "Volver", project_gg_home_path(:project_id => @project.id) %>