<%= csrf_meta_tag %>
<% content_for :header_tags do %>
   <%= stylesheet_link_tag "/gg_articles.css", :plugin => 'gestion_garantias', :media => "screen" %>
<% end %>

<h2> Artículo </h2>
<%= form_for [@project, @file, @article] do |f| %>
	<%= f.hidden_field :gg_file_id, :value => @file.id %>

	<div><%= f.label l(:"article.code_article")+": " %></div>
	<%= f.text_field(:code_article, :size => 30) %>
	
	<div><%= f.label l(:"article.name_provider")+": " %></div>
	<%= f.text_field(:name_provider, :size => 30) %>

	<div><%= f.label l(:"article.guarantee")+": " %></div>
	<%= f.text_field(:guarantee, :size => 30) %>

	<div><%= f.label l(:"article.ans_description")+": " %></div>
	<%= f.text_field(:ans, :size => 30) %>

	<fieldset class="f_contacts">
		<legend><h2>Contactos</h2></legend>
		<% (0..2).each do |i| %>
			<%= f.fields_for :gg_contacts, @contacts[i] do |j| %>
				<fieldset class="f_level">
					<legend> Nivel <%= i+1 %></legend>
					<%= j.hidden_field :level, :value => i+1 %>

					<div class="div_contact">
						<p class="l_contact"><%= j.label l(:"contact.name")+": " %></p>
						<%= j.text_field(:name, :size => 30) %>
					</div>
					<div class="div_contact">
						<p class="l_contact"><%= j.label l(:"contact.phone")+": " %></p>
						<%= j.text_field(:phone, :size => 30) %>
					</div>

					<div class="div_contact">
						<p class="l_contact"><%= j.label l(:"contact.email")+": " %></p>
						<%= j.text_field(:email, :size => 30) %>
					</div>
				</fieldset>
			<% end %>
		<% end %>
	</fieldset>

	<div>
	<%= f.submit l(:"text_save"), style: "float: left;", class: "form_articles_button" %>
	</div>
<% end %>
<%= button_to l(:"text_back"), edit_project_gg_file_path(@file, :project_id => @project), class: "form_articles_button form_articles_button_back" %>