<%= render "gg_files/partials/form" %>
<!--<h2> Expediente </h2>
<div class="splitcontentleft">
  <table class="list">
  <thead>
  <tr>
     <th><%# l(:"file.identity_file") %></th>
     <th><%# l(:"file.code_file") %></th>
  </tr>
  </thead>
  <tbody>
      <tr class="<%# cycle("odd", "even") %>">
      	<td><%# @file.identity_file %></td>
      	<td><%# @file.code_file %></td>
      </tr>
  </tbody>
  </table>
</div>

<div style="clear: both;">--><br> 
 <div class="contextual">
  <%= link_to '<span class="icon icon-add">'.html_safe+l(:"file.new"), :controller => :gg_articles, :action => :new, :project_id => @project %>
</div>
<h2> Artículos </h2>

<table class="list">
<thead>
<tr>
   <th>Código de artículo</th>
   <th>Nombre del proveedor</th>
   <th>Garantía</th>
   <th>ANS</th>
   <th>Permisos</th>

</tr>
</thead>
<tbody>
	<% @articles.each do |article| %>
    <tr class="<%= cycle("odd", "even") %>">
    	<td><%= link_to article.code_article, project_gg_file_gg_article_gg_contacts_path(@file, article, :project_id => @project) %></td>
    	<td><%= article.name_provider %></td>
    	<td><%= article.guarantee %></td>
    	<td><%= article.ans %> días</td>
    	<td>
    		<%= link_to '<span class="icon icon-edit">'.html_safe+l(:text_edit), project_gg_file_gg_article_gg_contacts_path(@file, article, :project_id => @project) %>
        <%= link_to '<span class="icon icon-del">'.html_safe+l(:text_delete), project_gg_file_gg_article_path(@file,article, :project_id => @project), :confirm => "¿Desea eliminar este proveedor?", :method => :delete %>
    	</td>
    </tr>
    <% end %>
</tbody>
</table>

<%= button_to "Volver", project_gg_home_path(:project_id => @project.id) %>