<h2> Artículo </h2>

<table class="list">
<thead>
<tr>
   <th>Código Exp.</th>
   <th>Código del expediente</th>
   <th>Nombre del proveedor</th>
   <th>Periodo de garantía</th>
   <th>ANS</th>
</tr>
</thead>
<tbody>
    <tr class="<%= cycle("odd", "even") %>">
    	<td><%= @article.code_article %></td>
    	<td><%= @article.code_file %></td>
    	<td><%= @article.name_provider %></td>
    	<td><%= @article.guarantee %> días</td>
    	<td><%= @article.ans %> horas</td>
    </tr>
</tbody>
</table>

<br>
<% if @contacts.count < 3%>
<div class="contextual">
    <%= link_to '<span class="icon icon-add">'.html_safe+"Nuevo contacto", :controller => :gg_articles, :action => :index, :project_id => @project %>
</div>
<% end %>
<h2> Contactos </h2>

<table class="list">
<thead>
<tr>
   <th>Nivel escalado</th>
   <th>Nombre</th>
   <th>Teléfono</th>
   <th>E-mail</th>
   <th>Permisos</th>

</tr>
</thead>
<tbody>
	<% @contacts.each do |contact| %>
    <tr class="<%= cycle("odd", "even") %>">
    	<td><%= contact.level %></td>
    	<td><%= contact.name %></td>
    	<td><%= contact.phone %></td>
    	<td><%= contact.email %> días</td>
    	<td>
    		<%= link_to '<span class="icon icon-edit">'.html_safe+l(:text_edit), project_gg_article_path(@article, :project_id => @project) %>
        	<%= link_to '<span class="icon icon-del">'.html_safe+l(:text_delete), project_gg_article_path(@article, :project_id => @project), :confirm => "¿Desea eliminar este proveedor?", :method => :delete %>
    	</td>
    </tr>
    <% end %>
</tbody>
</table>